<h2>Articles</h2>
{{#if cats.length}}

  {{#each cats}}
    <div style="font-size:36px">
      <span style="margin-left:40%;">{{title}}</span>
      <p style="text-align: center;"><img src={{imageURL}} height="400" width="400" style="display: block; margin-left: auto; margin-right: auto;"></p>
      <div class="shortTextBlock">{{shortText}}
      <a href="/article/{{_id}}"><button class="btn btn-small">Read more...</button></a></div>
    </div><br>
  {{/each}}

{{else}}
<p>No articles :( </p>
{{/if}}
